/* coolors */

/* fonts */
* {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
/* background picture. fixed center */
body {
    background: url('./images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
}

.active{
    color: red;
    font-weight: bold;
    background-color: #F9FAFC !important;
    box-shadow: none;
}

.navbar-inner {
    background-color: transparent;
}

/* title styling */
.title {
   
    background-color: black;
    color: blue;
    /* padding: 15px; */
}
/* footer styling  */
/* footer positioning */
.footer {
    position: fixed;
    background-color:black;
    width: 100%;
    padding: 10px;
    bottom: 0;
}

/* FontAwesome #footer-icon */
#footer-icons {
    color: red;
    font-size: 5em;
    padding: 15px;

}

.card-bottom {
    padding-bottom: 200px !important;
    color: red !important;

}

/* media queries max-width 768px/tabs-desktop */

@media screen and (max-width: 768px) {
    body {
        height: 1500px;
    }
}

/* media queries max-widet 400px/mobile */
@media Screen and (max-width: 400px){
    body {
        height: 1500px
    }
    #footer-icons {
        font-size: 4em;
    }
}
