/* coolors */
/* CSS HEX */
:root {
--cultured: #F8F9FBff;
--steel-teal: #5F7B7Fff;
--silver-sand: #C5D0D2ff;
--cultured-2: #F2F6F7ff;
--white: #FAFBFDff;
--white-2: #FEFFFFff;
--xanadu: #718077ff;

}

/* fonts */
*/ {
    font-family: fantasy, Times, serif, sans-serif !important;
}
/* background picture. fixed center */
body {
    background: url('./images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
}
.plain-text {
    text-shadow:whitesmoke 2px 2px !important;

}

.shadow-text {
    color: gray;
    text-shadow:
   -.5px -.5px 0 black,  
   .5px -.5px 0 black,
    -.5px .5px 0 black,
    .5px .5px 0 black !important;

}

.welcome-text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.line-space {
    line-height: 80% !important;
}
.active{
    color: red;
    font-weight: bold;
    background-color: #FAFBFDff !important;
    /* background-color: #F6F7F9 !important; */
    box-shadow: none !important;
    border-bottom: none !important;
}
.tab-button {border-bottom: 0px !important;}

.nav .nav-item .nav-tabs {
    box-shadow: none !important;
    border-bottom: none !important;

}

/* title styling */
.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color:black;
    text-shadow:
   -1px -1px 0 whitesmoke,  
    1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke,
     1px 1px 0 whitesmoke;;
    /* padding: 15px; */
}
/* footer styling  */
/* footer positioning */
.footer {
    position: fixed;
    background-color:black;
    width: 100%;
    padding: 10px;
    bottom: 0;
}

/* FontAwesome #footer-icon */
#footer-icons {
    color: red;
    font-size: 4em;
    padding: 10px
}

.top-buffer{
    margin-top: 20px;
}
.bottom-card{
    background-color: transparent !important;
}
.card-bottom {
    margin-bottom: 300px !important;
    /* padding-bottom: 100 !important; */
    /* color: red !important; */
    padding: 0px 0px 50px 0px;
    
}

/* media queries max-width 768px/tabs-desktop */

@media screen and (max-width: 768px) {
    body {
        height: 1500px;
    }
}

/* media queries max-widet 400px/mobile */
@media Screen and (max-width: 400px){
    body {
        height: 300 px
    }
    #footer-icons {
        font-size: 3em;
    }
    .active {
        background-color: white;
    }
}
